body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #0D1B2A;
}

.outer-container {
    width: 90%;
    max-width: fit-content;
    margin: 0 auto;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 2rem; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    border-radius: 5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 11rem;
}

/* Logo */
.logo img {
    max-width: 10rem;
    border: 1rem solid #f4f4f4;
}

/* Nav menu */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    list-style: none;
    position: relative; /* Needed for dropdown positioning */
}

/* Buttons */
.nav-button, .nav-button-events, .nav-button-comm, .nav-button-dropdown {
    text-decoration: none;
    color: #415A77;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: .5rem;
    transition: 0.3s ease-in-out;
    display: inline-block;
}

.nav-button-events-com {
    text-decoration: none;
    color: #415A77;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: .5px;
    transition: 0.3s ease-in-out;
}

/* Dropdown specific */
.nav-button-dropdown {
    cursor: pointer;
}

/* Hover effect */
.nav-button:hover, 
.nav-button-events:hover, 
.nav-button-comm:hover, 
.nav-button-dropdown:hover {
    color: white;
    background-color: #0D1B2A;
}

/* Dropdown menu */
.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%; /* Directly below parent */
    left: 0;
    background: #f4f4f4;
    border: 1px solid #ccc;
    display: none; /* Hidden by default */
    min-width: 180px;
    z-index: 1000;
    border-radius: .5rem;
    padding: 0;
}

/* Dropdown items */
.dropdown-menu li a {
    padding: 0.8rem 1rem;
    display: block;
    color: #415A77;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.2s;
    font-weight: normal;
}

.dropdown-menu li a:hover {
    background-color: #0D1B2A;
    color: #f4f4f4;
}

/* Show dropdown on hover */
.nav-menu li:hover .dropdown-menu {
    display: block;
}

.highlighted:hover {
    color: #f4f4f4;
    background-color: #0D1B2A;
    border: .3rem solid #0D1B2A;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        background: #0D1B2A;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 1rem;
    }

    .nav-menu.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

.menu-icon {
    display: none;
}

.refresh-image {
    padding-right: 2rem;
}

.left-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    max-height: 350px; /* control vertical size */
    overflow: hidden;  /* enables horizontal crop */
}

.left-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    /* border-radius: 5px; */
    /* border: 2px solid #0D1B2A; */
}


.week-schedule {
    display: inline-block; 
    padding: 25px;
    height: auto;
    padding-bottom: 2.3rem;
    background-color: #f4f4f4;
    border: 2px solid #0D1B2A;
    border-radius: 5px;
    margin: 0;
}

.week-schedule h2 {
    color: #415A77;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.week-schedule h3 {
    color: #415A77;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-size: .8rem;
}

.schedule-details p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.schedule-details p span {
    color: #415A77;
    font-weight: bold;
}

.schedule-buttons {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.button {
    padding: 15rem;
    background-color: #415A77;
    color: #FFF;
    text-align: center;
    border-radius: 5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0D1B2A;
}

.footer {
    margin-top: 4rem;
    background-color: #f4f4f4;
    color: #0D1B2A;
    text-align: center;
}

.footer a {
    text-decoration: underline;
    color: #0D1B2A;
}

.content-wrapper {
    display: flex;
    padding-left: 3rem;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.subscribe-form {
    width: 50rem; /* Set a fixed width */
    padding: 3rem;
    background-color: #f4f4f4;
    border: .2rem solid #0D1B2A;
    border-radius: 1rem;
}

.subscribe-form h2 {
    color: #415A77;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.subscribe-form p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

p.permission {
    font-size: small;
}

.shabbos p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.ctct-form-field {
    margin-bottom: 1rem;
}

.ctct-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ctct-form-element {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #0D1B2A;
}

.ctct-form-button {
    padding: 15px;
    background-color: #415A77;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-items: center;
}

.ctct-form-button:hover {
    background-color: #415A77;
}

.separate-index {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.separate-dvar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}


.separate-halachos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.separate-community {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.separate-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.separate-subscribe {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}


.about-box {
    border-radius: 2rem;
    font-size: 1.25rem;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.visitors-buttons, .community-buttons,
 .events-buttons, .info-buttons,
 .info-dvar-buttons, .events-dvar-buttons,
 .halachos-dvar-buttons, .shabbos-dvar-buttons {
    flex: 1;
    padding: .5rem;
    background-color: #f4f4f4;
    font-size: larger;
    font-size: 5px;
    text-align: center;
}

.about-box, .visitors, .community, .events, .info, .halachos, .shabbos {
    flex: 1;
    padding: 1.5rem;
    background-color: #f4f4f4;
    border: .2rem solid #0D1B2A;
    border-radius: 1rem;
    font-size: larger;
    text-align: justify;
}

.about-box h2, .visitors h2, .community h2,
 .events h2, .info h2, .halachos h2, .shabbos h2 {
    color: #415A77;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    text-align: center;
}

.community ul, .visitors ul, .events ul,
 .info ul, .halachos ul, .shabbos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.community ul li a, .visitors ul li a, .events ul li a,
 .info ul li a, .halachos ul li a, .shabbos ul li a,
 .halachos ul a, .shabbos ul a{
    display: block;
    background-color: #f4f4f4;
    color: #0D1B2A;
    text-decoration: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.community ul li a:hover, .visitors ul li a:hover, 
.events ul li a:hover, .info ul li a:hover,
.halachos ul a:hover, .shabbos ul a:hover {
    background-color: #415A77;
    color: white;
}

.separate-events {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    flex: 1;
}

/* .events {
    padding: 20px;
    padding-bottom: 47px;
    padding-top: 25px;
} */
/* 
.break {
    padding: 10px;
} */

.collapsible {
    background-color: #f4f4f4;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    margin-top: 10px;
    text-decoration: none;
    color: #0D1B2A;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.3rem;
}

.collapsible:hover {
    background-color: #415A77;
    color: white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.week-events {
    padding-left: 5rem;
    width: 30%; 
    text-align: left;
}

.calendar-container {
    width: 100%;
    /* max-width: 600px; */
    height: 600px;
    border-radius: 5px;
    border: 2px solid #0D1B2A;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

button.link-style {
    all: unset; /* remove all default button styling */
    color: #0D1B2A;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 1rem;
    border-radius: .5rem;
    transition: 0.3s ease-in-out;
  }
  
  button.link-style:hover {
    color: white;
    background-color: #415A77;
  }
  
  .button.front {
    background-color: #415A77; /* no white box */
    border: none;                  /* remove borders */
    color: white;                /* match your link/button color */
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }
  
  .button.front:hover {
    background-color: #0D1B2A;
    color: white;
  }
  
.spotify-embed {
    position: relative;
    width: 100%;
    padding-top: 50%; /* Spotify show embed ratio */
}

.spotify-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}
.share-embed {
    position: relative;
    width: 100%;
    padding-bottom: 80%; /* Spotify show embed ratio */
}
.share-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}